.header {
  min-height: 80px;
  background-image: linear-gradient(
                  to top,
                  rgb(248, 248, 248),
                  rgba(0, 0, 0, 0.5)
  );
  display: flex;
  align-items: center;
  padding: 0 20px;
}
